@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #083d16;
}

input:-webkit-autofill-selected,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 0px green inset !important;
  -webkit-text-fill-color: #fff;
  background-color: green !important;
}
input{color: #000;}

.categories-select__control {
  border: none !important;
  box-shadow: none !important;
  border-radius: 5px !important;
  width: 100% !important;
}

.categories-select__menu {
  border: none !important;
  box-shadow: none !important;
}
.categories-select__menu-list {  background-color: rgb(3 161 86) !important;}
 .categories-select__option--is-focused, .categories-select__option--is-hover{background-color: #000 !important;}
.categories-select__menu {
  margin-top: 2px !important;
}
.react-calendar{background-color: rgb(3 161 86) !important;}
.react-calendar__tile--now{background-color: #000 !important;}
.react-date-picker__inputGroup__input,.react-date-picker__inputGroup__divider{color: #000 !important;}
button:focus,
button:hover,
a {
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.react-date-picker__wrapper {

  border: thin solid transparent !important;
  background: #fff !important;
  padding: 5px !important;
  border-radius: 10px !important;
}

.language-select__control,
.language-select__control--is-focused {
  background-color: rgb(3 161 86) !important;
  color: #fff !important;
  border-color: rgb(3 161 86) !important;
  box-shadow: none !important;
  outline: none !important;
  cursor: pointer !important;
  border-radius: 7px !important;
}

.language-select__single-value {
  color: #fff !important;
}

.language-select__menu-list {
  background-color: #0d6533 !important;
}

.language-select__option {
  background-color: transparent !important;
  color: #fff !important;
  cursor: pointer !important
}

.dark body {
  background: #000;
}

.dark .language-select__control,
.dark .language-select__control--is-focused {
  background: rgb(58 104 124) !important;
  border-color: rgb(58 104 124) !important;
}

.dark .language-select__menu-list {
  background-color: rgb(58 104 124) !important;
}